@import components/mixins

html
    font-size: 1px
    scroll-behavior: smooth
    +media(2560)
        font-size: 2px

.custom-scrollbar::-webkit-scrollbar
    width: 15rem

.custom-scrollbar::-webkit-scrollbar-track
    background: radial-gradient(#000, #000)

.custom-scrollbar::-webkit-scrollbar-thumb
    background: radial-gradient(#c0301c, red)
    height: 260rem
    border-radius: 10rem

.custom-scrollbar::-webkit-scrollbar-thumb:hover
    background: red

body
    margin: 0
    scroll-behavior: smooth
    .falshScrollBar
        position: absolute
        right: 0
        width: 14.7rem
        height: 100%
        background: #000
        margin-left: 5rem
        .scrollBar
            background: radial-gradient(#c0301c, red)
            height: 260rem
            border-radius: 10rem
    .hide
        display: none
    .wrapper
        max-width: 1140rem
        margin: 0 auto
        padding: 0 10rem
        +media(470)
            padding: 0 20rem

    header
        background: url(../img/startup-hero-bg.jpg)
        background-position: 0 0
        background-size: cover
        +media(560)
            height: 752rem
        .header
            display: flex
            flex-direction: column
            row-gap: 150rem
            padding-bottom: 150rem
            .with-background
        .wrapper
            .toplineFixed
                position: fixed
                background: #000
                width: 99.9%
                left: 0
                padding: 10rem
                top: -45rem
            .topline
                display: flex
                justify-content: space-between
                align-items: center
                flex-direction: column
                margin: 40rem 0 0 0
                row-gap: 30rem
                +media(730)
                    flex-direction: row
                // transition: all 1s ease
                z-index: 99999
                .logo
                    a
                        color: #ffffff
                        font-size: 40rem
                        font-weight: 700
                        font-family: "Montserrat"
                        text-decoration: none
                        +media(560)
                            font-size: 24rem
                        &:hover
                            color: #c0301c
                .burgerMenuButton
                    width: 100rem
                    height: 90rem
                    background: url(../img/burger.png)
                    background-size: cover
                    +media(560)
                        display: none
                    
                ul.menu
                    display: none
                    column-gap: 35rem
                    padding: 0
                    +media(560)
                        display: flex
                    li
                        padding: 10rem
                        +media(560)
                            padding: 0
                        &#da
                            +media(560)
                                display: none
                        a
                            font-size: 14rem
                            color: #ffffff
                            font-weight: 400
                            font-family: "Montserrat"
                            text-decoration: none
                            &:hover
                                color: #c0301c
                ul.burgerMenu
                    position: absolute
                    top: -1rem
                    display: flex
                    align-items: center
                    background: #fff
                    flex-direction: column
                    width: 100%
                    height: 110%
                    li
                        padding: 27rem
                        width: 82%
                        border: 3rem solid red
                        text-align: center
                                            
                        a
                            font-size: 20rem
                            color: #000
            .center-content
                display: flex
                flex-direction: column
                align-items: center
                +media(560)
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                h1
                    margin: 0 0 30rem 0
                    font-size: 48rem
                    text-transform: uppercase
                    color: #ffffff
                    font-weight: 400
                    font-family: "Montserrat"
                    text-align: center
                p
                    margin: 0 0 50rem 0
                    font-size: 18rem
                    text-transform: uppercase
                    color: #ffffff
                    font-weight: 400
                    font-family: "Montserrat"
                    text-align: center
                a
                    padding: 15rem 30rem
                    color: #ffffff
                    font-size: 16rem
                    text-transform: uppercase
                    font-weight: 400
                    font-family: "Montserrat"
                    text-align: center
                    text-decoration: none
                    background-color: transparent
                    border-radius: 2rem
                    border: 2rem solid #ffffff
                    transition: all .5s ease
                    &:hover
                        border-radius: 20%
                        background: #000
                        animation: button 2s infinite
        #popup.hide
            display: none
        #popup
            position: absolute
            display: flex
            top: 50%
            left: 50%
            padding: 20rem 10rem 10rem 10rem
            transform: translate(-50%, -50%)
            background: #fff
            z-index: 99999
            border-top: 5rem dashed
            border-right: 5rem dashed

            form
                display: flex
                flex-direction: column
                row-gap: 15rem
                margin-top: 15rem
                textarea
                    max-height: 216rem
                    max-width: 938rem
                    min-width: 234rem
                    min-height: 26rem
                    width: 690rem
                    padding: 18rem
                    height: 105rem
                    font-size: 12rem
                    &:placeholder-shown
                        text-transform: uppercase
                textarea,
                input,
                a
                    padding: 18rem 20rem
                    color: #555555
                    cursor: pointer
                    font-family: "Roboto Slab"
                    border: 1rem solid #555555
                    background: #fff
                    outline: none
                    font-size: 16rem
                    color: #000
                    text-decoration: none
                    &:focus,
                    &:hover
                        border-color: #c0301c
                    &:hover
                        color: #c0301c
                a
                    text-align: center
            .cross
                position: absolute
                top: 2%
                right: 3%
                width: 35rem
                height: 40rem
                transform: rotate(45deg)
                &::before
                    content: "+"
                    font-size: 35rem
                    position: absolute
                    right: 18%
                    top: -20%
                &:hover
                    &::before
                        color: #c0301c

    .flex
        display: flex
        flex-direction: column-reverse
        align-items: center
        justify-content: center
        +media(890)
            flex-direction: row
    .column-gap40
        column-gap: 40rem
        row-gap: 40rem
    main
        .wrapper
            .services
                display: flex
                flex-direction: column
                align-items: center
                margin: 100rem 0
                +media(740)
                    max-width: auto
                h2:first-child
                    color: #555555
                    font-size: 20rem
                    text-transform: uppercase
                    font-weight: 700
                    font-family: "Montserrat"
                    text-align: center
                p
                    font-size: 16rem
                    color: #555555
                    font-weight: 400
                    font-family: "Roboto Slab"
                    text-align: center
                figure
                    display: flex
                    column-gap: 45rem
                    margin: 0
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    +media(740)
                        flex-direction: row
                    figcaption
                        display: flex
                        flex-direction: column
                        align-items: center
                        text-decoration: none
                        max-width: 400rem
                        &:hover
                            .circle
                                background: #c0301c
                            img
                                filter: brightness(30)

                        .circle
                            display: flex
                            align-items: center
                            justify-content: center
                            width: 87rem
                            height: 87rem
                            border-radius: 60%
                            background-color: #ffffff
                            border: 2rem solid #dddddd
                            transition: all .3s ease
                            img
                                +media(2560)
                                    width: 55%
                        h2
                            color: #555555
                            font-size: 14rem
                            font-weight: 700
                            font-family: "Montserrat"
                            text-align: center
                            text-transform: uppercase
        .aboutus
            width: 100%
            background-color: #f8f8f8
            text-align: center
            .wrapper
                display: flex
                flex-direction: column
                align-items: center
                padding: 20rem
            h2:first-child
                color: #555555
                font-size: 20rem
                text-transform: uppercase
                font-weight: 700
                font-family: "Montserrat"
                text-align: center
            p
                font-size: 16rem
                color: #555555
                font-weight: 400
                font-family: "Roboto Slab"
            .desc
                text-align: left
                column-gap: 30rem
                row-gap: 30rem
                +media(550)
                    display: flex
            .sliderBlock
                display: flex
                column-gap: 30rem
                transition: all 1s ease
                img
                    +media(2560)
                        width: 263rem

            figure#slider

                position: relative
                display: flex
                column-gap: 30rem
                margin: 0
                text-align: center
                overflow: hidden
                max-width: 263rem
                +media(1185)
                    max-width: 1140rem
                +media(880)
                    max-width: 850rem
                +media(750)
                    max-width: 555rem

                figcaption
                    img
                            // height: 40rem
                    h2
                        font-size: 14rem
                        text-transform: uppercase
                        color: #555555
                        font-family: "Myriad Pro"
                    #slider figcaption
                        flex: 0 0 100%
                        transition: transform 0.5s ease-in-out

                #slider
                    display: flex
                    width: 99%
                    overflow: hidden
                    position: relative

                    #slider
                        img
                            width: 100%
                            display: block

                    #sliderButtons
                        position: absolute
                        top: 50%
                        width: 100%
                        display: flex
                        justify-content: space-between
                        transform: translateY(-50%)

                    #left, #right
                        background: rgba(0, 0, 0, 0.5)
                        color: white
                        border: none
                        padding: 10rem
                        cursor: pointer

            #sliderButtons
                position: absolute
                width: 100%
                height: 74%
                button
                    position: absolute
                    top: 50%
                    transform: translate(0, -50%)
                    width: 35rem
                    height: 38rem
                    background-color: #c2c2c2
                    border: none
                    outline: none
                    &:hover
                        background-color: #c0301c
                #left
                    left: 0
                    &::after
                        content: ""
                        position: absolute
                        background: url(../img/fa-angle-left.svg)
                        width: 8rem
                        height: 14rem
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)

                #right
                    right: 0
                    &::after
                        content: ""
                        position: absolute
                        background: url(../img/fa-angle-right.svg)
                        background-size: cover
                        width: 8rem
                        height: 14rem
                        top: 50%
                        right: 50%
                        transform: translate(50%, -50%)
        .wrapper
            .latestworksdiv
                margin: 100rem 0
                .topside
                    display: flex
                    flex-direction: column
                    align-items: center
                    margin-bottom: 63rem
                    h2:first-child
                        color: #555555
                        font-size: 20rem
                        text-transform: uppercase
                        font-weight: 700
                        font-family: "Montserrat"
                        text-align: center
                    ul.latestworks
                        column-gap: 25rem
                        padding: 0
                        margin-top: 25rem
                        text-align: center
                        +media(480)
                            padding: auto
                            display: flex
                        li
                            a
                                font-size: 16rem
                                color: #555
                                font-weight: 400
                                font-family: "Roboto Slab"
                                text-align: center
                                text-decoration: none
                                &:hover
                                    filter: invert(1)
                            #activeButton
                                color: #c0301c
                .bottomside
                    figure.works
                        display: flex
                        flex-wrap: wrap
                        justify-content: center
                        column-gap: 30rem
                        row-gap: 30rem
                        margin: 0
                        figcaption
                            position: relative
                            width: 360rem
                            &:hover
                                .hover
                                    display: flex
                            img
                                width: 100%
                                height: 100%
                                object-fit: cover
                    .hover
                        display: none
                        flex-direction: column
                        align-items: center
                        justify-content: center
                        position: absolute
                        width: 100%
                        height: 100%
                        font-size: 16rem
                        left: 50%
                        transform: translate(-50%, -100%)
                        background-color: rgb(192, 48, 28, 0.5)
                    h2
                        color: #ffffff
                        font-size: 18rem
                        font-weight: 400
                        font-family: "Montserrat"
                        text-align: center
                    p
                        color: #ffffff
                        font-size: 12rem
                        font-weight: 400
                        font-family: "Roboto Slab"
                        text-align: center
                    a
                        position: relative
                        padding: 15rem 35rem 15rem 15rem
                        color: #fff
                        font-size: 14rem
                        letter-spacing: 1rem
                        text-transform: uppercase
                        font-weight: 400
                        font-family: "Roboto Slab"
                        text-align: center
                        text-decoration: none
                        border: 3rem solid #fff
                        &:hover
                            color: #c0301c
                            background-color: #fff
                            border: tranparent
                            &:after
                                filter: brightness(0) saturate(100%) invert(28%) sepia(84%) saturate(12) hue-rotate(359deg) brightness(104%) contrast(124%)

                        &::after
                            content: ""
                            position: absolute
                            background: url(../img/fa-angle-right.svg)
                            background-size: cover
                            width: 8rem
                            height: 14rem
                            top: 50%
                            right: 12%
                            transform: translate(0, -47%)
                            filter: brightness(50.5)
        .propaboutwork
            display: flex
            justify-content: center
            text-align: center
            background: url(../img/bg.png) no-repeat
            background-size: cover
            .content
                padding: 100rem
                h2:first-child
                    margin: 0
                h2
                    font-size: 25rem
                    +media(370)
                        font-size: 30rem
                    color: #ffffff
                    font-weight: 400
                    font-family: "Roboto Slab"
                    text-align: center
                #last-h2
                    margin: 15rem 0 50rem 0
                a
                    padding: 15rem
                    font-size: 12rem
                    +media(370)
                        font-size: 18rem
                    text-transform: uppercase
                    color: #ffffff
                    font-weight: 400
                    font-family: "Roboto Slab"
                    text-align: center
                    border-radius: 2rem
                    border: 2rem solid #ffffff
                    text-decoration: none
                    &:hover
                        border-radius: 20%
                        background: #000
                        animation: button 2s infinite
        .wrapper
            .recents-posts
                display: flex
                align-items: center
                flex-direction: column
                margin: 100rem 0 100rem 0
                h2
                    color: #555555
                    font-size: 20rem
                    text-transform: uppercase
                    font-weight: 700
                    font-family: "Montserrat"
                    text-align: center
                a:not(#descHyper)
                    font-size: 15rem
                    color: #555555
                    letter-spacing: 1rem
                    text-transform: uppercase
                    font-weight: 700
                    font-family: "Montserrat"
                    text-align: center
                    text-decoration: none
                    +media(360)
                        font-size: 18rem
                    +media(550)
                        font-size: 16rem
                    &:hover
                        color: #c0301c
                p
                    font-size: 16rem
                    color: #555555
                    font-weight: 400
                    font-family: "Roboto Slab"
                figure

                    figcaption
                        .img
                            width: 120%
                            +media(365)
                                width: 100%
                            +media(890)
                                width: auto
                            img
                                width: 100%
                                +media(890)
                                    width: 330rem
                                +media(1030)
                                    width: 488rem
                        .first-header
                            .date-header
                                display: flex
                                column-gap: 27rem
                                row-gap: 27rem
                                justify-content: center
                                align-items: center
                                flex-direction: column
                                +media(550)
                                    flex-direction: row
                                +media(890)
                                    justify-content: start
                                    align-items: start
                                .date
                                    padding: 0 5rem 0 0
                                    width: 70rem
                                    background-color: #f8f8f8
                                    border: 2rem solid #555555
                                    #blog
                                        font-size: 16rem
                                        text-transform: uppercase
                                        color: #c0301c
                                        font-weight: 400
                                        font-family: "Montserrat"
                                        text-align: center
                                .desc
                                    p
                                        font-weight: 400
                                        font-family: "Roboto Slab"
                                        color: #777
                                    a:first-child
                                        font-size: 16rem
                                        text-transform: uppercase
                                        color: #555555
                                        font-weight: 400
                                        font-family: "Montserrat"
                                        text-align: center

                                    #descHyper
                                        font-size: 13rem
                                        color: #777
                                        text-decoration: none
                                        font-family: "Roboto Slab"
                                        font-weight: 400
                                        &:hover
                                            color: #c0301c

                            #readMore
                                font-size: 13rem
                                letter-spacing: 1rem
                                text-transform: uppercase
                                font-weight: 700
                                font-family: "Roboto Slab"
                                text-decoration: none
                                &:hover
                                    color: #c0301c

                    #marginForBlog
                        margin: 25rem 0
                    #redText
                        color: #c0301c

    footer
        .comapnies-block
            background: #f8f8f8
            .wrapper
                .info
                    padding: 80rem 0
                    +media(720)
                        padding: 80rem 120rem
                    .logos
                        display: flex
                        column-gap: 60rem
                        align-items: center
                        margin-bottom: 63rem
                        flex-direction: column
                        row-gap: 30rem
                        +media(1080 )
                            flex-direction: row
                        .firstCompanies,
                        .secondCompanies
                            display: flex
                            column-gap: 60rem
                            align-items: center
                            flex-direction: column
                            row-gap: 30rem
                            +media(580)
                                flex-direction: row
                            img
                                +media(2560)
                                    width: 130rem
                    p
                        color: #555555
                        font-weight: 400
                        font-family: "Roboto Slab"
                        text-align: center
                    .first
                        display: none
                        font-size: 18rem

                        +media(600)
                            height: 100rem
                    .second
                        display: none
                        font-size: 20rem
                    .activeCite
                        display: block
                        animation: opacity .5s
                    .circles
                        display: flex
                        justify-content: center
                        column-gap: 5rem
                        margin-bottom: 39rem
                        .circleBlock
                            width: 14rem
                            height: 14rem
                            background: #dddddd
                            border-radius: 50%
                        .active
                            background: #c0301c

                    .cite-slide
                        display: none
                        position: absolute
                        width: 100%
                        transition: opacity 1s ease-in-out

                        &.active
                            display: block
                            opacity: 1
                        &.active
                            background-color: #333
        .reverseAnimation
            animation: opacity .5s reverse
        .footer-content
            display: flex
            flex-direction: column
            align-items: center
            padding: 100rem 0
            .topside
                .get-in-touch
                    display: flex
                    flex-direction: column
                    align-items: center
                    margin-bottom: 68rem
                    text-align: center
                    h2:first-child
                        color: #555555
                        font-size: 20rem
                        text-transform: uppercase
                        font-weight: 700
                        font-family: "Montserrat"
                        text-align: center
                    p
                        font-size: 16rem
            h2
                font-size: 14rem
                text-transform: uppercase
                color: #555555
                font-family: "Myriad Pro"
            p,
            a
                margin: 0
                color: #555555
                font-size: 12rem
                font-weight: 400
                font-family: "Roboto Slab"
                text-decoration: none
            .bottomside
                display: flex
                justify-content: space-between
                width: 100%
                flex-direction: column
                align-items: center
                row-gap: 30rem
                +media(1160)
                    flex-direction: row
                .contacts
                    .adress,
                    .hotline,
                    .email
                        display: flex
                        align-items: baseline
                        column-gap: 20rem
                        img
                            position: relative
                            top: 3rem
                            +media(2560)
                                width: 17rem

                .header
                    display: flex
                    flex-direction: column
                    row-gap: 7rem
                    h2
                        margin-top: 0
                .form
                    width: 100%
                    display: flex
                    justify-content: center
                    +media(1160)
                        justify-content: flex-end
                    form
                        display: flex
                        flex-direction: column
                        column-gap: 19rem
                        row-gap: 19rem
                        align-items: center
                        width: 100%
                        +media(760)
                            width: 730rem
                        .firstInputs,
                        .secondInputs
                            display: flex
                            align-items: center
                            flex-direction: column
                            column-gap: 30rem
                            row-gap: 10rem
                            width: 100%
                            +media(760)
                                flex-direction: row
                                column-gap: 0
                                row-gap: 0
                            input
                                width: 70%
                                padding: 18rem
                                font-family: "Roboto Slab"
                                font-size: 12rem
                                +media(760)
                                    width: 100%
                                &:placeholder-shown
                                    text-transform: uppercase
                            input:first-child
                                +media(760)
                                    margin-right: 28rem
                        textarea
                            width: 70%
                            padding: 18rem
                            height: 105rem
                            font-size: 12rem
                            +media(760)
                                width: 94.8%
                            &:placeholder-shown
                                text-transform: uppercase
                        textarea,
                        input,
                        a
                            font-family: "Roboto Slab"
                            border: 1rem solid #555555
                            background: #fff
                            outline: none
                            &:focus,
                            &:hover
                                border-color: #c0301c
                        .submit
                            display: flex
                            align-items: center
                            column-gap: 37rem
                            flex-direction: column-reverse
                            row-gap: 15rem
                            width: 100%
                            +media(1160)
                                flex-direction: row
                            a
                                padding: 18rem 35rem
                                color: #555555
                                text-transform: uppercase
                                cursor: pointer
                            &:hover
                                color: #c0301c
                            span
                                color: #c0301c
                            p
                                width: 80%
                                text-align: center
                                +media(360)
                                    text-align: left
                                    width: auto
        .footer
            padding: 100rem 0
            background-color: #bf2f1b
            .wrapper
                display: flex
                flex-direction: column
                align-items: center
                .social
                    position: relative
                    padding: 28rem 0
                    margin-bottom: 28rem
                    width: 222rem
                    transition: all .5s ease
                    a
                        position: absolute
                        top: 0
                        width: 40rem
                        height: 40rem
                        border: 3rem solid #fff
                        border-radius: 50%
                        transition: all .5s ease
                        animation: invert .5s reverse
                        &:hover
                            border-color: #000
                            &::after
                                animation: invert .5s
                                filter: invert(1)

                    #tw
                        left: 0
                        &::after
                            width: 20rem
                            height: 20rem
                            background: url(../img/sprites.svg) no-repeat 2rem 5rem
                            +media(2560)
                                background-size: 320%
                    #fb
                        left: 58rem
                        &::after
                            width: 12rem
                            height: 14rem
                            background: url(../img/sprites.svg) no-repeat -18rem 0
                            +media(2560)
                                height: 17rem
                                background: url(../img/sprites.svg) no-repeat -22rem 0
                                background-size: 620%
                    #in
                        left: 116rem
                        &::after
                            width: 19rem
                            height: 14rem
                            background: url(../img/sprites.svg) no-repeat -28rem 0
                            +media(2560)
                                height: 15rem
                                background: url(../img/sprites.svg) no-repeat -28rem 0
                                background-size: 337%
                    #you
                        left: 175rem
                        &::after
                            width: 22rem
                            height: 14rem
                            background: url(../img/sprites.svg) no-repeat -44rem 0
                            +media(2560)
                                background-size: 290%
                    #tw:after,
                    #in:after,
                    #fb:after,
                    #you:after
                        content: ""
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)

                p
                    font-size: 12rem
                    line-height: 20rem
                    color: #ffffff
                    font-weight: 400
                    font-family: "Roboto Slab"
                    text-transform: uppercase
                    text-align: center
                .line
                    background-color: #fff

    .line
        width: 50rem
        height: 2rem
        margin-bottom: 20rem
        background-color: #555
        text-align: center
    .hidden
        display: none

    img
        user-select: none
    textarea:last-child
        resize: vertical
    .margin
        padding-right: 35rem
    .margin2
        padding-right: 15rem
body.no-scroll
    overflow: hidden
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff')
    font-weight: 700
    font-style: normal

@font-face
    font-family: 'Montserrat'
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Roboto Slab'
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'), url('../fonts/RobotoSlab-Regular.woff') format('woff')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Myriad Pro'
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'), url('../fonts/MyriadPro-Regular.woff') format('woff')
    font-weight: 400
    font-style: normal
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBold.woff') format('woff')
    font-weight: 800
    font-style: normal
@keyframes invert
    0%
        filter: invert(0)
    100%
        filter: invert(1)
@keyframes opacity
    0%
        opacity: 0
    100%
        opacity: 1
@keyframes button
    0%
        border-radius: 0
    25%
        border-radius: 20% 20%
    50%
        border-radius: 20% 40%
    75%
        border-radius: 40% 20%
    100%
        border-radius: 0 0

@keyframes backgroundTopLine
    0%
        background-Color: rgba(0,0,0,0.5)
    50%
        background-Color: rgba(255,0,0,0.5)
    100%
        background-Color: rgba(0,0,0,0.5)
@keyframes height
    0%
        height: 0%
    100%
        height: 100%
