- 
    let figure = {
        typograph: {
            src: "img/fa-font.svg",
            alt: "#",
            header: "Clean Typography",
            desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum."
        },
        code: {
            src: "img/fa-code.svg",
            alt: "#",
            header: "Rock Solid Code",
            desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum."
        },
        support: {
            src: "img/fa-support.svg",
            alt: "#",
            header: "Expert Support",
            desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum."
        }
    }

    let people = {
        khalilUddin: {
            src: "img/hid.png",
            alt: "#",
            name: "Md. Khalil Uddin",
            header: "Head of Ideas"
        },
        rubelMiah: {
            src: "img/lwpd.png",
            alt: "#",
            name: "Rubel Miah",
            header: "Lead WordPress Developer"
        },
        shamimMia: {
            src: "img/swb.png",
            alt: "#",
            name: "Shamim Mia",
            header: "Sr. Web Developer"
        },
        johnDoe: {
            src: "img/fed.png",
            alt: "#",
            name: "John Doe",
            header: "Front-end Developer"
        }
    }
- 
    let works = {
        da: {
            src: "img/filework.png",
            alt: "#"
        }
    }
- 
    let blog = {
        first: {
            src: "img/post18.png",
            alt: "#",
            date: "18 Oct",
            header: "Startup ideas needs to be funded",
            author: "By Khalil Uddin in Development",
            desc: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam."
        },
        second: {
            src: "img/secondpost18.png",
            alt: "#",
            date: "18 Oct",
            header: "Startup ideas needs to be funded",
            author: "By Khalil Uddin in Development",
            desc: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam."
        }
    }
